## IMPORT LIBRARIES

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## LOADING & INSPECTING DATA

1- bookID count shows 11127 rows (describe function) but highest bookID is 45641 (= it is an ID number, not a count)

2- removed unwanted commas separating several authors in Author column. As only 4 books were concerned it was done manually.

3- noticed special characters (jpn, chn, ar) in the authors names : DO WE NEED TO KEEP ALL CHARACTERS?

4- isbn column: 

    - should be 11-digit as "isbn10" standard number
    
    - a large number of rows have 7, 8, 9 digits or even 10 with an X at the end: --> NEED UPDATE? DROP? OR LEAVE IT "AS IS"?

5- isbn13 column (REFERENCE number since 2007):

    - should be 14-digit as "isbn13" standard number

    - 10, 11 digit number --> NEED UPDATE? DROP? OR LEAVE IT "AS IS"?

6- language code: english in 4 or 5 different versions (eg: en-GB, en-US, etc.)

7- num_pages: books from 0 to 6576 pages --> NEED UPDATE OR REMOVAL?

8- Ratings count from 0 to ~4.6M

9- text_reviews count from 0 to 94265

10- publication_date: US format / and 2 invalid dates (nov31 and jun31 do not exist, hence not recognized by excel as "actual dates") 

11- publisher: "18-Oct" for 2 entries seems odd: actually a publisher called "10/18" (ref: https://www.goodreads.com/shelf/show/editeurs-10-18)

### importing data

In [2]:
df = pd.read_csv(r"C:\Users\33695\Documents\ML with Python\Project-20230605\Project 1\dataset\books_jun22.csv", delimiter=",", index_col="bookID")

In [3]:
df.head(10)

,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
bookID,,,,,,,,,,,
1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic
9,"Unauthorized Harry Potter Book Seven News: ""Ha...",W. Frederick Zimmerman,3.74,0976540606,9780976540601,en-US,152,19,1,4/26/2005,Nimble Books
10,Harry Potter Collection (Harry Potter #1-6),J.K. Rowling,4.73,0439827604,9780439827607,eng,3342,28242,808,9/12/2005,Scholastic
12,The Ultimate Hitchhiker's Guide: Five Complete...,Douglas Adams,4.38,0517226952,9780517226957,eng,815,3628,254,11/1/2005,Gramercy Books
13,The Ultimate Hitchhiker's Guide to the Galaxy ...,Douglas Adams,4.38,0345453743,9780345453747,eng,815,249558,4080,4/30/2002,Del Rey Books
14,The Hitchhiker's Guide to the Galaxy (Hitchhik...,Douglas Adams,4.22,1400052920,9781400052929,eng,215,4930,460,8/3/2004,Crown

In [4]:
df.tail(10)

,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
bookID,,,,,,,,,,,
45617,O Cavalo e o Seu Rapaz (As Crónicas de Nárnia ...,C.S. Lewis/Pauline Baynes/Ana Falcão Bastos,3.92,9722330551,9789722330558,por,160,207,16,8/15/2003,Editorial Presença
45623,O Sobrinho do Mágico (As Crónicas de Nárnia #1),C.S. Lewis/Pauline Baynes/Ana Falcão Bastos,4.04,9722329987,9789722329989,por,147,396,37,4/8/2003,Editorial Presença
45625,A Viagem do Caminheiro da Alvorada (As Crónica...,C.S. Lewis/Pauline Baynes/Ana Falcão Bastos,4.09,9722331329,9789722331326,por,176,161,14,9/1/2004,Editorial Presença
45626,O Príncipe Caspian (As Crónicas de Nárnia #4),C.S. Lewis/Pauline Baynes/Ana Falcão Bastos,3.97,9722330977,9789722330978,por,160,215,11,10/11/2003,Editorial Presença
45630,Whores for Gloria,William T. Vollmann,3.69,0140231579,9780140231571,en-US,160,932,111,2/1/1994,Penguin Books
45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06,1560254416,9781560254416,eng,512,156,20,12/21/2004,Da Capo Press
45633,You Bright and Risen Angels,William T. Vollmann,4.08,0140110879,9780140110876,eng,635,783,56,12/1/1988,Penguin Books
45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,0140131965,9780140131963,eng,415,820,95,8/1/1993,Penguin Books
45639,Poor People,William T. Vollmann,3.72,0060878827,9780060878825,eng,434,769,139,2/27/2007,Ecco
45641,Las aventuras de Tom Sawyer,Mark Twain,3.91,8497646983,9788497646987,spa,272,113,12,5/28/2006,Edimat Libros

In [11]:
# Title: showing a range of rows with jpn characters (all columns)
df.loc[13593:13611,:] # using bookID row number OR df[3776:3786] using row index number

,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
bookID,,,,,,,,,,,
13593,ヒカルの碁 18、番外編,Yumi Hotta/Yumi Hotta,4.11,4088732898,9784088732893,jpn,211,275,7,8/2/2002,集英社
13594,ヒカルの碁 23、あなたに呼びかけている,Yumi Hotta/Yumi Hotta,4.22,4088735048,9784088735047,jpn,198,61,5,9/4/2003,集英社
13595,ヒカルの碁 7、若獅子戦,Yumi Hotta/Yumi Hotta,4.26,4088728734,9784088728735,jpn,208,9,2,6/7/2000,集英社
13596,ヒカルの碁 15、さよなら,Yumi Hotta/Yumi Hotta,4.25,4088732154,9784088732152,jpn,211,289,8,12/24/2001,集英社
13598,ヒカルの碁 13、プロ第一戦,Yumi Hotta/Yumi Hotta,4.26,4088731441,9784088731445,jpn,195,11,2,8/8/2001,集英社
13600,ヒカルの碁 14、sai vs toya koyo,Yumi Hotta/Yumi Hotta,4.23,4088731697,9784088731698,jpn,189,331,6,10/9/2001,集英社
13602,ヒカルの碁 16、中国棋院,Yumi Hotta/Yumi Hotta,4.15,4088732324,9784088732329,jpn,191,282,7,3/4/2002,集英社
13603,ヒカルの碁 6、院生試験,Yumi Hotta/Takeshi Obata,4.22,4088728491,9784088728490,jpn,211,8,2,4/9/2000,集英社
13608,ヒカルの碁 9、本戦開始,Yumi Hotta/Yumi Hotta,4.27,4088730224,9784088730226,jpn,207,9,2,10/9/2000,集英社
13609,ヒカルの碁 22、打倒高永夏,Yumi Hotta/Yumi Hotta,4.21,4088734327,9784088734323,jpn,189,329,5,6/4/2003,集英社
13611,ヒカルの碁 12、新初段シリーズ,Yumi Hotta/Yumi Hotta,4.24,4088731107,9784088731100,jpn,189,9,2,5/6/2001,集英社

In [21]:
# langage_code: list all rows containing "en"
s_lang = df.language_code
val_lang = ['en-CA','eng','en-GB','enm','en-US']
df[s_lang.isin(val_lang)]

,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
bookID,,,,,,,,,,,
1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic
...,...,...,...,...,...,...,...,...,...,...,...
45630,Whores for Gloria,William T. Vollmann,3.69,0140231579,9780140231571,en-US,160,932,111,2/1/1994,Penguin Books
45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06,1560254416,9781560254416,eng,512,156,20,12/21/2004,Da Capo Press
45633,You Bright and Risen Angels,William T. Vollmann,4.08,0140110879,9780140110876,eng,635,783,56,12/1/1988,Penguin Books
45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,0140131965,9780140131963,eng,415,820,95,8/1/1993,Penguin Books
45639,Poor People,William T. Vollmann,3.72,0060878827,9780060878825,eng,434,769,139,2/27/2007,Ecco

### data analysis

In [22]:
# basic stats on numeric only data 
df.describe()

,average_rating,isbn13,num_pages,ratings_count,text_reviews_count
count,11127.000000,1.112700e+04,11127.000000,1.112700e+04,11127.000000
mean,3.933631,9.759888e+12,336.376921,1.793641e+04,541.854498
std,0.352445,4.428964e+11,241.127305,1.124794e+05,2576.176608
min,0.000000,8.987060e+09,0.000000,0.000000e+00,0.000000
25%,3.770000,9.780345e+12,192.000000,1.040000e+02,9.000000
50%,3.960000,9.780586e+12,299.000000,7.450000e+02,46.000000
75%,4.135000,9.780873e+12,416.000000,4.993500e+03,237.500000
max,5.000000,9.790008e+12,6576.000000,4.597666e+06,94265.000000

df.describe treats isbn13 as a number.
however, does not display bookID nor isbn

### search for inconsistencies

In [23]:
# look for "NA" values (None or NaN)
df.isna().sum()

title                 0
authors               0
average_rating        0
isbn                  0
isbn13                0
language_code         0
  num_pages           0
ratings_count         0
text_reviews_count    0
publication_date      0
publisher             0
dtype: int64

In [24]:
# # look for values that are not "NA" (NotNone and Not NaN)
df.notna().sum()

title                 11127
authors               11127
average_rating        11127
isbn                  11127
isbn13                11127
language_code         11127
  num_pages           11127
ratings_count         11127
text_reviews_count    11127
publication_date      11127
publisher             11127
dtype: int64

In [25]:
df["isbn13"].notna()

bookID
1        True
2        True
4        True
5        True
8        True
         ...
45631    True
45633    True
45634    True
45639    True
45641    True
Name: isbn13, Length: 11127, dtype: bool

In [26]:
#dfRowsNotOK= df.loc[df["Unnamed: 12"].notna(),:]
#len(dfRowsNotOK)
df1 = df
str(df1["isbn13"][:])

'bookID\n1        9780439785969\n2        9780439358071\n4        9780439554893\n5        9780439655484\n8        9780439682589\n             ...      \n45631    9781560254416\n45633    9780140110876\n45634    9780140131963\n45639    9780060878825\n45641    9788497646987\nName: isbn13, Length: 11127, dtype: int64'

In [29]:
#type(df1["isbn13"][:])
#type(df1["isbn13"][1])
df1["isbn13"][:].dtype

dtype('int64')

1) TRY TO CONVERT ISBN13 DATA TO STRING
2) find outliers in other columns (rating, num_pages, text_reviews)
3) consider including other columns (convert to numeric? 0 or 1 value? other?)

In [ ]:
'''dfColsNotOK= df.columns
dfColsNotOK
len(dfColsNotOK)
'''

In [ ]:
'''
def rowsToCorrect():
    dfRowsNotOK= df.loc[df["Unnamed: 12"].notna(),:]
    for iRows in range(0:len(dfRowsNotOK)):
        for jCols in range(0:len(dfColsNotOK)):
            if df(iRows,jCols).value
'''